@charset "UTF-8";
/* -----------------------------------
   ---------->>> GLOBAL <<<-----------
/* -----------------------------------*/
/* Color reference 
background: primary-color
normal text: primary-color
links: primary-color
headings: secondary-color
main content bg: body-color
*/
/**Example**/
@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@-ms-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@-o-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: fade-out 5s 3;
  -moz-animation: fade-out 5s 3;
  -ms-animation: fade-out 5s 3;
  -o-animation: fade-out 5s 3;
  animation: fade-out 5s 3; }

/* -----------------------------------
   ---------->>> GLOBAL <<<-----------
/* -----------------------------------*/
/* Color reference 
background: primary-color
normal text: primary-color
links: primary-color
headings: secondary-color
main content bg: body-color
*/
/**Example**/
@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@-ms-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@-o-keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: fade-out 5s 3;
  -moz-animation: fade-out 5s 3;
  -ms-animation: fade-out 5s 3;
  -o-animation: fade-out 5s 3;
  animation: fade-out 5s 3; }

:focus {
  outline: none; }

.row {
  margin-right: 0;
  margin-left: 0; }

.logo {
  background-image: url(../img/sm-logo.png);
  background-repeat: no-repeat;
  float: left;
  margin-top: -4px;
  padding: 20px; }

.absolute-wrapper {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7; }

.side-menu {
  padding: 0px;
  height: 100%;
  background-color: transparent;
  border-right: 1px solid #e7e7e7;
  border-top-left-radius: 4px; }
  .side-menu .navbar {
    border: none; }
  .side-menu .navbar-header {
    width: calc(100% - 12px); }
  .side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7; }
  .side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1.3px dotted #e7e7e7; }
    .side-menu .navbar-nav li a {
      padding: 15px; }
      .side-menu .navbar-nav li a .glyphicon {
        padding-right: 10px; }
  .side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none; }
    .side-menu #dropdown .caret {
      float: right;
      margin: 9px 5px 0; }
    .side-menu #dropdown .indicator {
      float: right; }
    .side-menu #dropdown > a {
      border-bottom: 1px solid #e7e7e7; }
    .side-menu #dropdown .panel-body {
      padding: 0;
      background-color: #f3f3f3; }
      .side-menu #dropdown .panel-body .navbar-nav {
        width: 100%; }
        .side-menu #dropdown .panel-body .navbar-nav li {
          padding-left: 15px;
          border-bottom: 1px solid #e7e7e7; }
          .side-menu #dropdown .panel-body .navbar-nav li:last-child {
            border-bottom: none; }
      .side-menu #dropdown .panel-body .panel > a {
        margin-left: -20px;
        padding-left: 35px; }
      .side-menu #dropdown .panel-body .panel-body {
        margin-left: -15px; }
        .side-menu #dropdown .panel-body .panel-body li {
          padding-left: 30px; }
          .side-menu #dropdown .panel-body .panel-body li:last-child {
            border-bottom: 1px solid #e7e7e7; }
  .side-menu #addListTrigger {
    width: 50px;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px; }
  .side-menu .brand-name-wrapper {
    min-height: 50px; }
    .side-menu .brand-name-wrapper .navbar-brand {
      display: block;
      color: #777777;
      display: block; }
  .side-menu #search {
    position: relative;
    z-index: 1000; }
    .side-menu #search .panel-body {
      padding: 0; }
      .side-menu #search .panel-body .navbar-form {
        padding: 0;
        padding-right: 50px;
        width: 100%;
        margin: 0;
        position: relative;
        border-top: 1px solid #e7e7e7; }
        .side-menu #search .panel-body .navbar-form .form-group {
          width: 100%;
          position: relative; }
        .side-menu #search .panel-body .navbar-form input {
          border: 0;
          border-radius: 0;
          box-shadow: none;
          width: 100%;
          height: 50px; }
        .side-menu #search .panel-body .navbar-form .btn {
          position: absolute;
          right: 0;
          top: 0;
          border: 0;
          border-radius: 0;
          background-color: #f3f3f3;
          padding: 15px 18px; }

/* Main body section */
.side-body {
  margin-left: 310px; }

/* small screen */
@media (max-width: 768px) {
  /* Slide side body*/
  /* Hamburger */
  /* Search */
  /* Dropdown tweek */
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
            width:285px;
            -moz-animation: slideout 300ms forwards;
            -o-animation: slideout 300ms forwards;
            -webkit-animation: slideout 300ms forwards;
            animation: slideout 300ms forwards;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }*/
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7; }
    .side-menu .brand-name-wrapper .navbar-brand {
      display: inline-block; }

  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }

  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }

  .navbar-toggle {
    border: 0;
    display: block;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3; }

  #search .panel-body .navbar-form {
    border-bottom: 0; }
    #search .panel-body .navbar-form .form-group {
      margin: 0; }

  .navbar-header {
    position: fixed;
    z-index: 999999999999999999999;
    background-color: #f8f8f8; }

  #dropdown .panel-body .navbar-nav {
    margin: 0; }

  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .side-menu-container > .navbar-nav {
    z-index: 9999999999;
    position: fixed;
    /* left: -289px; */
    margin-left: -4px;
    width: 50%;
    margin-top: 7px;
    top: 49px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }

  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-webkit-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-moz-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @-webkit-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } } }
@media (max-width: 425px) {
  .side-menu-container > .navbar-nav {
    width: 50%;
    margin-top: 7px; } }
@media (min-width: 425px) and (max-width: 768px) {
  .side-menu-container > .navbar-nav {
    width: 35%; } }
html {
  height: 100%; }

body {
  height: 100%; }

.app {
  height: 100%; }

::-webkit-scrollbar {
  display: none; }

.bg-red {
  color: red !important; }

.show {
  display: block !important; }

.box-15 {
  width: 15px;
  height: 15px; }

.fa-trash:hover {
  color: red !important; }

.f-s-20 {
  font-size: 20px; }

.hide {
  display: none; }

::-webkit-input-placeholder {
  color: #D0D0D0;
  opacity: 1; }

.m-t-55 {
  margin-top: 55px; }

.m-b-25 {
  margin-bottom: 25px; }

/* ------------ Return to Top ------------ */
.toTop-arrow {
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  -webkit-transition: bottom 250ms;
  -moz-transition: bottom 250ms;
  transition: bottom 250ms;
  position: fixed;
  right: 1em;
  bottom: -56px;
  opacity: 0;
  z-index: 10;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: #4c5b5c; }
  .toTop-arrow.show {
    bottom: 1em;
    opacity: 0.6; }
  .toTop-arrow:hover {
    background: rgba(0, 0, 0, 0.9); }
    .toTop-arrow:hover i {
      color: #fff;
      top: 5px; }
  .toTop-arrow:before {
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    -moz-transform: rotate(-45deg) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    -o-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
    left: 10px;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 3px;
    border-radius: 3px;
    background: #008cee;
    content: ""; }
  .toTop-arrow:after {
    -webkit-transform: rotate(45deg) translate(0, -50%);
    -moz-transform: rotate(45deg) translate(0, -50%);
    -ms-transform: rotate(45deg) translate(0, -50%);
    -o-transform: rotate(45deg) translate(0, -50%);
    transform: rotate(45deg) translate(0, -50%);
    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
    right: 10px;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 3px;
    border-radius: 3px;
    background: #008cee;
    content: ""; }

.add-sub-input {
  margin-left: 25px; }

.panel {
  padding-right: 5px; }

.date-picker {
  border-radius: 4px;
  margin-left: 35px; }

.sub-task-add-content .panel {
  height: 100%;
  background-color: #ffffff; }
  .sub-task-add-content .panel .panel-heading {
    background-color: #ffffff;
    border-color: #fff; }
.sub-task-add-content .panel-body {
  padding: 0 !important; }
.sub-task-add-content .panel-footer {
  background-color: #ffffff !important;
  padding: 10px 15px;
  /* background-color: #f5f5f5; */
  border-top: 1px solid rgba(85, 85, 85, 0.5);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.form-horizontal .input-group {
  width: 95%; }

.sub-task-li {
  padding: 20px 16px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.24); }
  .sub-task-li span {
    margin-top: -25px; }
  .sub-task-li .input-group-addon {
    opacity: 0; }
  .sub-task-li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24); }
    .sub-task-li:last-child .form-control {
      width: 91%;
      margin-top: -25px;
      margin-left: 36px; }
  .sub-task-li select {
    margin-right: 20px;
    overflow-y: auto;
    text-align: center;
    width: 55px; }

select {
  margin-right: 20px;
  overflow-y: auto;
  text-align: center;
  width: 55px; }

.sub-task-ul {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 55%;
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .sub-task-ul li {
    font-family: monospace;
    font-size: larger;
    font-weight: 600;
    color: #6f5e5e;
    padding: 10px 16px;
    border-bottom: 2px dotted rgba(128, 128, 128, 0.38);
    transition: all .22s ease-in; }
    .sub-task-ul li:hover {
      color: white;
      opacity: .5;
      background: linear-gradient(to bottom, #0099ff 11%, rgba(62, 176, 238, 0.88) 97%); }

.sub-task-bg {
  background: linear-gradient(to right, rgba(119, 238, 119, 0.43), rgba(255, 255, 0, 0.48));
  margin-top: 25px; }

.sub-task-date, .sub-task-reminder {
  margin-top: -7%;
  margin-left: 11%;
  padding-top: 12px; }

.sub-task-content {
  float: left;
  width: 100%; }

.subtask-note {
  margin-left: 11%;
  width: 84%;
  margin-top: 12px;
  height: 60px;
  border-radius: 4px; }

.subtask-text-input {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 4px 6px -3px #959595;
  width: 65%;
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.42);
  padding: 8px;
  padding-top: 9px;
  padding-bottom: 8px;
  position: absolute;
  margin-left: 2px; }

.sub-task-list {
  height: 100% !important; }

.sub-task-head-star {
  float: right;
  padding-top: 10px; }

.subtask-options {
  position: absolute;
  margin-left: 50%; }

.sub-note-title {
  width: 85%;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.71); }

.sub-task-add-content {
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75);
  background-color: #e1e1e1;
  width: 90%;
  margin-left: 18px;
  margin-top: 15px;
  height: 92%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }

.sub-task-checkbox {
  float: left; }

.sub-task-footer {
  padding: 0px 15px !important;
  float: left;
  width: 100%;
  float: left;
  height: 7%;
  color: gray;
  border-top: 1px solid rgba(128, 128, 128, 0.34);
  margin-top: -16px; }
  .sub-task-footer .fa-trash {
    float: left;
    font-size: x-large !important;
    margin-left: 2%;
    margin-top: 2%; }
  .sub-task-footer .fa-play {
    float: right;
    font-size: x-large !important;
    margin-right: 2%;
    margin-top: 2%; }

.sub-task-head {
  float: left;
  width: 100%;
  border-bottom: 1px solid gray;
  opacity: .7;
  padding: 10px 15px; }

@media (min-width: 769px) and (max-width: 1024px) {
  .date-picker {
    border-radius: 4px !important;
    margin-left: 25px;
    width: 103% !important; }

  .form-horizontal .input-group {
    width: 97%;
    margin-left: -7px; }

  .sub-task-li:last-child .form-control {
    width: 92%;
    margin-top: -25px;
    margin-left: 25px; }

  .sub-task-list {
    height: 35%;
    margin-left: 1px;
    width: 98%; } }
@media (max-width: 425px) {
  .main-content {
    overflow: hidden !important; }

  .date-picker {
    border-radius: 4px !important; }

  .sub-task-li:last-child .form-control {
    width: 87%;
    margin-top: -25px;
    margin-left: 33px; }

  .form-horizontal .input-group {
    width: 91%;
    margin-left: 5px; }

  .subtask-note {
    margin-left: 16%;
    width: 78%;
    margin-top: 14px;
    height: 49px;
    border-radius: 4px; } }
@media (min-width: 425px) and (max-width: 768px) {
  .date-picker {
    border-radius: 4px !important;
    margin-left: 30px;
    width: 101% !important; }

  .sub-task-li:last-child .form-control {
    width: 90%;
    margin-top: -25px;
    margin-left: 30px; }

  .subtask-note {
    margin-left: 13%;
    width: 82%;
    margin-top: 12px;
    height: 60px;
    border-radius: 4px; } }
@media (min-width: 321px) and (max-width: 375px) {
  .main-content {
    overflow: hidden !important; }

  .date-picker {
    width: 100%;
    border-radius: 4px !important;
    margin-left: 30px; }

  .sub-task-li:last-child .form-control {
    width: 88%;
    margin-top: -25px;
    margin-left: 30px; }

  .form-horizontal .input-group {
    width: 93%; }

  .subtask-note {
    margin-left: 13%;
    width: 80.5%;
    margin-top: 12px;
    height: 50px;
    border-radius: 4px; } }
@media (min-width: 376px) and (max-width: 425px) {
  .main-content {
    overflow: hidden !important; }

  .form-horizontal .input-group {
    margin-left: -2px; }

  .subtask-note {
    margin-left: 12%;
    width: 83%;
    height: 60px;
    border-radius: 4px; }

  .sub-item-btn {
    margin-left: 25px !important; } }
@media (min-width: 1025px) and (max-width: 2440px) {
  .sub-task-li > :first-child {
    margin-top: 10px !important; }
  .sub-task-li .date-picker {
    border-radius: 4px !important;
    width: 99% !important; }

  .sub-task-bg {
    background-color: #eeeeee !important;
    margin-left: 9px !important;
    width: 97% !important; } }
@-webkit-keyframes "react-confirm-alert-fadeIn" {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes "react-confirm-alert-fadeIn" {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes "react-confirm-alert-fadeIn" {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes "react-confirm-alert-fadeIn" {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px); }

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: react-confirm-alert-fadeIn 0.1s 0.1s forwards;
  -moz-animation: react-confirm-alert-fadeIn 0.1s 0.1s forwards;
  -o-animation: react-confirm-alert-fadeIn 0.1s 0.1s forwards;
  animation: react-confirm-alert-fadeIn 0.12s 0.1s forwards; }

.react-confirm-alert {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666; }
  .react-confirm-alert > h1 {
    margin-top: 0; }
  .react-confirm-alert > h3 {
    margin: 0;
    font-size: 16px; }

.react-confirm-alert-button-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px; }
  .react-confirm-alert-button-group + button {
    outline: none;
    font-size: 13px !important;
    background-color: #86462c !important;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px; }
  .react-confirm-alert-button-group > button {
    background-color: rgba(105, 59, 39, 0.93);
    outline: none;
    font-size: 13px !important;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0 !important; }

.add-btn:hover {
  background-color: #E22022 !important;
  color: white; }

.add-task-btn {
  -webkit-box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
  box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-family: monospace;
  font-weight: bold;
  width: 90%;
  margin-left: 30px;
  margin-top: 30px;
  padding: 10px; }

.add-list {
  display: block !important; }

.add-sub-task {
  float: left;
  height: 30px;
  width: 100%;
  /* background-color: azure; */
  font-family: sans-serif;
  font-size: x-large;
  color: #717171;
  padding-left: 6%;
  margin-top: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  /* box-shadow: 0 4px 6px -3px #959595; */ }

.add-sub-task-btn {
  -webkit-box-shadow: 0 4px 6px -3px #959595;
  -moz-box-shadow: 0 4px 6px -3px #959595;
  box-shadow: 0 4px 6px -3px #959595;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.33);
  float: left;
  padding: 7px;
  width: 45px;
  font-size: x-large;
  padding-left: 15px; }
  .add-sub-task-btn:hover {
    color: #17D0EE !important; }
    .add-sub-task-btn:hover .fa {
      font-size: 20px !important;
      transition: all ease; }

.app {
  height: 98%;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38); }

.big-strike {
  position: relative;
  width: 80%;
  height: 2px;
  background: rgba(0, 0, 0, 0.45);
  top: 31px;
  left: 0px;
  margin-left: 35px;
  float: left;
  z-index: 90000;
  margin-top: -15px; }

.big-star {
  font-size: 30px !important;
  margin-top: -7px; }

.cl-blue {
  color: #60A6CD; }

.chkbox-lg {
  width: 30px;
  height: 25px;
  margin-top: 20%; }

.fa {
  font-size: 16px;
  transition: .2s ease-in !important; }

.fa-calendar {
  transition: all .2s ease-in; }
  .fa-calendar:hover {
    font-size: 20px;
    color: red; }

.fa-play:hover {
  color: orchid; }

.index {
  height: 100%; }

.list-name {
  padding-left: calc(12%); }

.main-content {
  background-image: url(../img/woodbg.jpg);
  background-repeat: repeat;
  height: 100%;
  margin-left: 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  transition: all .4s; }

.main-list-add-li {
  position: absolute !important; }

.main-task-list {
  height: 38%;
  margin-top: 0px;
  overflow: hidden;
  overflow-y: scroll; }

.main-task {
  padding: 0;
  height: 100%; }

.note-checkbox {
  float: left; }

.note-date {
  color: #5EA4CC;
  float: right; }

.note-item-btn {
  -webkit-box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
  box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
  color: white;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px;
  font-family: monospace;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: transparent;
  background-color: #C7E0F1;
  border: none;
  width: 90%;
  height: 38px; }

.note-title {
  padding-left: 20px;
  float: left;
  color: rgba(0, 0, 0, 0.71); }

.note-text {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bolder;
  font-family: sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px;
  overflow: hidden;
  font-size: x-large; }

.opac-5 {
  opacity: .5; }

.paper-clip {
  margin-bottom: 22px !important;
  height: 260px;
  width: 85%;
  margin-left: 6%;
  margin-top: 50px;
  font-size: 16px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.61);
  float: left;
  background-image: url(../img/text.png);
  background-color: #EBEBEB;
  background-repeat: repeat;
  border: none !important;
  background: transparent;
  box-shadow: none;
  overflow: hidden;
  overflow-y: scroll; }

.side-nav-ul {
  height: 500px;
  overflow: hidden;
  overflow-y: scroll; }

.strike {
  position: relative;
  width: 85%;
  height: 2px;
  background: rgba(0, 0, 0, 0.45);
  top: 75%;
  left: 0px;
  margin-left: 10%;
  float: left;
  z-index: 90000;
  margin-top: -1%; }

.sub-task {
  margin-top: 5px;
  padding: 0;
  height: 100%;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0; }

@media (min-width: 769px) and (max-width: 1024px) {
  .add-sub-task-btn {
    padding: 4px;
    padding-left: 12px; }

  .subtask-text-input {
    height: 44px; }
    .subtask-text-input::-webkit-input-placeholder {
      font-size: 1em; }

  .main-task-list {
    height: 35%; }

  .paper-clip {
    width: 95%;
    height: 151px;
    margin-top: -10px;
    margin-left: 5px; }

  .side-nav-ul {
    height: 490px; } }
@media (max-width: 425px) {
  .app {
    height: 100%; }

  .add-sub-task-btn {
    padding: 8px;
    width: 45px;
    font-size: initial;
    padding-left: 15px; }

  .add-task-btn {
    margin-left: 17px; }

  .sub-task-footer .fa {
    font-size: 20px !important; }

  .main-content {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    margin-top: 50px; }

  .main-task {
    width: 100%;
    height: unset; }

  .main-task-list {
    height: 205px !important; }

  .note-item-btn {
    margin-left: 17px; }

  .sub-task-ul li {
    font-family: monospace;
    font-size: initial; }

  .sub-task {
    width: 100%;
    height: 450px; }

  .slide-content {
    width: 70%;
    margin-left: 30%; }

  .sub-task-add-content {
    position: absolute;
    margin-top: -171%;
    z-index: 90000;
    width: 93%;
    height: 100%;
    margin-left: 11px; }

  .subtask-text-input {
    width: calc(70% - 5px);
    height: 40px;
    font-size: initial; }

  .paper-clip {
    height: 95px;
    width: 242px;
    margin-left: 26px;
    margin-top: 5px; }

  .close-thick {
    float: right;
    position: absolute;
    z-index: 1000000000;
    margin-left: 142px;
    margin-top: -10px; }
    .close-thick:after {
      content: '✖'; } }
@media (min-width: 426px) and (max-width: 600px) {
  .main-task {
    width: 100%;
    height: unset; }

  .sub-task {
    height: 450px;
    width: 100%; } }
@media (min-width: 425px) and (max-width: 768px) {
  .sub-task-add-content {
    margin-top: 25px; }

  .app {
    height: 100%; }

  .main-content {
    width: 100%;
    height: 95%;
    border-top-right-radius: 0 !important;
    margin-top: 27px;
    border-bottom-left-radius: 4px !important; }

  .paper-clip {
    height: 120px;
    width: 90%;
    margin-left: 5%;
    margin-top: 0px; }

  .slide-content {
    width: 70%;
    margin-left: 30%; }

  .subtask-text-input {
    width: 65%;
    height: 44px; }

  .add-sub-task-btn {
    padding: 4px;
    width: 45px;
    padding-left: 14px; } }
@media (min-width: 321px) and (max-width: 375px) {
  .add-sub-task-btn {
    margin-left: 7px; }

  .close-thick {
    margin-left: 195px;
    margin-top: -10px; }

  .sub-task-add-content {
    margin-top: -145%; }

  .sub-task-footer .fa {
    font-size: 20px !important; }

  .subtask-text-input {
    width: 70%; }

  .paper-clip {
    height: 100px;
    width: 296px;
    margin-left: 27px;
    margin-top: 0px; } }
@media (min-width: 376px) and (max-width: 425px) {
  .add-task-btn {
    margin-left: 20px; }

  .add-sub-task-btn {
    padding: 10px;
    width: 45px;
    padding-left: 14px; }

  .close-thick {
    margin-left: 238px;
    margin-top: -11px;
    font-size: inherit; }

  .main-content {
    border-top-right-radius: 0 !important;
    margin-top: 50px; }

  .main-task {
    width: 100%;
    height: unset; }

  .note-item-btn {
    margin-left: 20px; }

  .sub-task {
    height: 450px;
    width: 100%; }

  .sub-task-add-content {
    position: absolute;
    margin-top: -128%;
    z-index: 90000;
    width: 93%;
    height: 100%;
    margin-left: 11px; }

  .slide-content {
    width: 70%;
    margin-left: 30%; }

  .subtask-text-input {
    width: calc(70% + 10px); }

  .sub-task-footer .fa {
    font-size: 20px !important; }

  .paper-clip {
    height: 90px; } }
@media (min-width: 1025px) and (max-width: 2440px) {
  .paper-clip {
    margin-left: 11%;
    width: 84%;
    height: 191px;
    margin-top: 12px;
    border-radius: 4px; } }

/*# sourceMappingURL=style.css.map */
