html {
    height: 100%;
}
body {
    height: 100%;
}

.app {
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}

.bg-red {
    color: red !important;
}
.show {
    display: block !important;
}
.box-15 {
    width:15px;
    height:15px;
}

.fa-trash {
    &:hover{
        color: red !important;
    }
}
.f-s-20 {
    font-size: 20px;
}
.hide {
    display:none;
}
::-webkit-input-placeholder {
    color: #D0D0D0;
    opacity: 1;
}
.m-t-55 {
    margin-top: 55px;
}
.m-b-25 {
    margin-bottom: 25px; 
}
/* ------------ Return to Top ------------ */

.toTop-arrow {
    &.show {
        bottom: 1em;
        opacity: 0.6;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.9);
        & i {
            color: #fff;
            top: 5px;
        }
    }
    @include translate(background, 250ms, ease-in-out);
    @include translate(opacity, 250ms, ease-in-out);
    @include translate(bottom, 250ms, null);
    position: fixed;
    right: 1em;
    bottom: -56px;
    opacity: 0;
    z-index: 10;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #4c5b5c;
    &:before {
        @include rotate-translate(-45deg, 0, -50%);
        @include translate(background, 250ms, ease-in-out);
        left: 10px;
        position: absolute;
        top: 50%;
        width: 16px;
        height: 3px;
        border-radius: 3px;
        background: $primary-color;
        content: "";
    }
    &:after {
        @include rotate-translate(45deg, 0, -50%);
        @include translate(background, 250ms, ease-in-out);
        right: 10px;
        position: absolute;
        top: 50%;
        width: 16px;
        height: 3px;
        border-radius: 3px;
        background: $primary-color;
        content: "";
    }
}