/* -----------------------------------
   ---------->>> GLOBAL <<<-----------
/* -----------------------------------*/


/* Color reference 
background: primary-color
normal text: primary-color
links: primary-color
headings: secondary-color
main content bg: body-color
*/

$background_color_1: #f8f8f8;
$background_color_2: transparent;
$background_color_3: #f3f3f3;
$github-color:black;
$primary-color:#008cee;
$box-shadow-color:rgba(0, 0, 0, 0.2);
$secondary-color: #f3f3f3;
$body-color:#10bad6;
$anchor: rgba(217, 237, 247, 0.91);
$hover: rgba(83, 184, 200, 0.61);
$orange: #ffa600;
$grey: #f3f3f3;
$blue: #82d2e5;
$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;
$bg-start: #9d9181;
$bg-end: #9e866c;
$card-bg: #e6e5e1;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;
$shadow:rgba(0, 0, 0, 0.2);