@import "_variables",
"_mixins",
"_mediaQueries";
$color_1: #777777;
:focus {
    outline: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.logo {
    background-image: url(../img/sm-logo.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: -4px;
    padding: 20px;
}

.absolute-wrapper {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}

.side-menu {
    // position: fixed;
    padding: 0px;
    // width: 300px;
    height: 100%;
    background-color: transparent;
    border-right: 1px solid #e7e7e7;
    border-top-left-radius: 4px;
    .navbar {
        border: none;
    }
    .navbar-header {
        width: calc(100% - 12px);
        // border-bottom: 1px solid #e7e7e7;
    }
    .navbar-nav {
        .active {
            a {
                background-color: $background_color_2;
                margin-right: -1px;
                border-right: 5px solid #e7e7e7;
            }
        }
        li {
            display: block;
            width: 100%;
            border-bottom: 1.3px dotted #e7e7e7;
            ;
            a {
                padding: 15px;
                .glyphicon {
                    padding-right: 10px;
                }
            }
        }
    }
    #dropdown {
        border: 0;
        margin-bottom: 0;
        border-radius: 0;
        background-color: $background_color_2;
        box-shadow: none;
        .caret {
            float: right;
            margin: 9px 5px 0;
        }
        .indicator {
            float: right;
        }
        >a {
            border-bottom: 1px solid #e7e7e7;
        }
        .panel-body {
            padding: 0;
            background-color: $background_color_3;
            .navbar-nav {
                width: 100%;
                li {
                    padding-left: 15px;
                    border-bottom: 1px solid #e7e7e7;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            .panel {
                >a {
                    margin-left: -20px;
                    padding-left: 35px;
                }
            }
            .panel-body {
                margin-left: -15px;
                li {
                    padding-left: 30px;
                    &:last-child {
                        border-bottom: 1px solid #e7e7e7;
                    }
                }
            }
        }
    }
    #addListTrigger {
        width: 50px;
        background-color: $background_color_3;
        border: 0;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 18px;
    }
    .brand-name-wrapper {
        min-height: 50px;
        .navbar-brand {
            display: block;
            // font-size: x-large;
            color: $color_1;
            display: block;
        }
    }
    #search {
        position: relative;
        z-index: 1000;
        .panel-body {
            padding: 0;
            .navbar-form {
                padding: 0;
                padding-right: 50px;
                width: 100%;
                margin: 0;
                position: relative;
                border-top: 1px solid #e7e7e7;
                .form-group {
                    width: 100%;
                    position: relative;
                }
                input {
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    width: 100%;
                    height: 50px;
                }
                .btn {
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: $background_color_3;
                    padding: 15px 18px;
                }
            }
        }
    }
}


/* Main body section */

.side-body {
    margin-left: 310px;
}


/* small screen */

@media (max-width: 768px) {
    /* Slide side body*/
    /* Hamburger */
    /* Search */
    /* Dropdown tweek */
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
              width:285px;
              -moz-animation: slideout 300ms forwards;
              -o-animation: slideout 300ms forwards;
              -webkit-animation: slideout 300ms forwards;
              animation: slideout 300ms forwards;
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
          }*/
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
        border-bottom: 1px solid #e7e7e7;
        .brand-name-wrapper {
            .navbar-brand {
                display: inline-block;
            }
        }
    }
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .navbar-toggle {
        border: 0;
        display: block;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: $background_color_3;
    }
    #search {
        .panel-body {
            .navbar-form {
                border-bottom: 0;
                .form-group {
                    margin: 0;
                }
            }
        }
    }
    .navbar-header {
        position: fixed;        
        z-index: 999999999999999999999;
        background-color: $background_color_1;
    }
    #dropdown {
        .panel-body {
            .navbar-nav {
                margin: 0;
            }
        }
    }
    .side-menu-container {
        >.navbar-nav.slide-in {
            -moz-animation: slidein 300ms forwards;
            -o-animation: slidein 300ms forwards;
            -webkit-animation: slidein 300ms forwards;
            animation: slidein 300ms forwards;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        >.navbar-nav {            
            z-index: 9999999999;
            position: fixed;
            /* left: -289px; */
            margin-left: -4px;
            width: 50%;
            margin-top: 7px;
            top: 49px;
            height: 100%;
            border-right: 1px solid #e7e7e7;
            background-color: $background_color_1;
            -moz-animation: slideout 300ms forwards;
            -o-animation: slideout 300ms forwards;
            -webkit-animation: slideout 300ms forwards;
            animation: slideout 300ms forwards;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
}

@include mobile-only {    
    .side-menu-container {
        &>.navbar-nav {
            width: 50%;
            margin-top: 7px;        
        }
    }
}

@include tablet-only {       
    .side-menu-container{
        > .navbar-nav {
            width: 35%; 
        }
    } 
}