@import "_variables",
"_mixins",
"_mediaQueries",
"_functions",
"sideNav.scss",
"common.scss",
"bootstrap_override",
"subTask",
"confirmation";
html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0 !important;
}
.add-btn:hover {
    background-color: #E22022 !important;
    color: white; 
} 
.add-task-btn {
    @include box-shadow(0, 4px, 6px, -3px, rgba(0, 0, 0, 0.87));
    @include border-radius(5px);
    background: transparent;
    background-color: rgba(0, 0, 0, 0.3);    
    border: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    width: 90%;
    margin-left: 30px;
    
    margin-top: 30px;
    padding: 10px;
}
.add-list {
    display: block !important;    
}
.add-sub-task {
    float: left;
    height: 30px;
    width: 100%;
    /* background-color: azure; */
    font-family: sans-serif;
    font-size: x-large;
    color: #717171;
    padding-left: 6%;
    margin-top: 10px;
    @include border-radius(2px);
    /* box-shadow: 0 4px 6px -3px #959595; */
}

.add-sub-task-btn {
    @include box-shadow( 0, 4px, 6px, -3px, #959595);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.33);
    float: left;
    padding: 7px;
    width: 45px;
    font-size: x-large;
    padding-left: 15px;    
    &:hover {
        color: #17D0EE !important;
        .fa {    
            font-size: 20px !important;             
            transition: all ease;
        }
    }    
    
}

.app {
    height: 98%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    @include border-radius(5px);
    @include box-shadow(null, 0px, 0px, 5px, rgba(0, 0, 0, 0.38));
}

.big-strike {
    position: relative;
    width: 80%;
    height: 2px;
    background: rgba(0, 0, 0, 0.45);
    top: 31px;
    left: 0px;
    margin-left: 35px;
    float: left;
    z-index: 90000;
    margin-top: -15px;    
}

.big-star {
    font-size: 30px !important;
    margin-top: -7px;
}

.cl-blue {
    color: #60A6CD;
}

.chkbox-lg {
    width: 30px;
    height: 25px;
    margin-top: 20%;
}

.fa {
    font-size: 16px;
    transition: .2s ease-in !important;
}

.fa-calendar {
    &:hover {
        font-size: 20px;
        color: red;
    }
    transition: all .2s ease-in;
}
.fa-play {
    &:hover {
        color: orchid;
    }
}
.index {
    height: 100%;
}

.list-name {
    padding-left: calc(12%);    
}

.main-content {
    background-image: url(../img/woodbg.jpg);
    background-repeat: repeat;
    height: 100%;
    margin-left: 0;
    @include border-radius-full(0, 4px, 4px, 0);
    padding: 0;
    transition: all .4s;
}

.main-list-add-li {
    position: absolute !important;
}

.main-task-list {
    height: 38%;
    margin-top: 0px;
    overflow: hidden;
    overflow-y: scroll;
}

.main-task {
    padding: 0;
    height: 100%;
}

.note-checkbox {
    float: left;
}

.note-date {
    color: #5EA4CC;
    float: right;
}

.note-item-btn {
    @include box-shadow(0, 4px, 6px, -3px, rgba(0, 0, 0, 0.87));
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
    font-family: monospace;
    font-weight: bold;
    @include border-radius(5px);
    background: transparent;
    background-color: #C7E0F1;
    border: none;
    width: 90%;
    height: 38px;
}

.note-title {
    padding-left: 20px;
    float: left;
    color: rgba(0, 0, 0, 0.71);
}

.note-text {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bolder;
    font-family: sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 130px;
    overflow: hidden;
    font-size: x-large
}

.opac-5 {
    opacity: .5;
}

.paper-clip {
    margin-bottom: 22px !important;
    height: 260px;
    width: 85%;    
    margin-left: 6%;
    margin-top: 50px;
    font-size: 16px;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.61);
    float: left;    
    background-image: url(../img/text.png);
    background-color: #EBEBEB;
    background-repeat: repeat;
    border: none !important;
    background: transparent;       
    box-shadow: none;    
    overflow: hidden;
    overflow-y: scroll;
}
.side-nav-ul{
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
.slide-content {}

.strike {
    position: relative;
    width: 85%;
    height: 2px;
    background: rgba(0, 0, 0, 0.45);    
    top: 75%;
    left: 0px;
    margin-left: 10%;
    float: left;
    z-index: 90000;
    margin-top: -1%;
}

.sub-task {
    margin-top: 5px;
    padding: 0;
    height: 100%;
    @include border-radius-full(0, 5px, 5px, 0);
}

@include laptop-only {
    .add-sub-task-btn { 
        padding: 4px;
        padding-left: 12px;
    }
    .subtask-text-input { 
        height: 44px;
        &::-webkit-input-placeholder {
            font-size: 1em;
        }        
    }
    .main-task-list {
        height: 35%;
    }    
        
    .paper-clip {
        width: 95%;
        height: 151px;
        margin-top: -10px;
        margin-left: 5px;        
    }
    .side-nav-ul {
        height: 490px;
    }
}

@include mobile-only {
    .app {
        height: 100%;
    }
    .add-sub-task-btn {       
        padding: 8px;
        width: 45px;
        font-size: initial;
        padding-left: 15px;
    }
    .add-task-btn {
        margin-left: 17px;
    }
    .sub-task-footer {
        .fa {
            font-size: 20px !important;
        }
    }
        
    .main-content {        
        @include border-radius-full(0, 0, 4px, 4px);
        margin-top: 50px;
    }
    .main-task {
        width: 100%;
        height: unset;
    }
    .main-task-list {
        height: 205px !important;
    }
    .note-item-btn {
        margin-left: 17px;
    }
    .sub-task-ul {
        li {
            font-family: monospace;
            font-size: initial;
        }
    }    
    .sub-task {
        // display: none;
        width: 100%;
        height: 450px;
    }
    .slide-content {
        width: 70%;
        margin-left: 30%;
    }
    .sub-task-add-content{
        position: absolute;
        margin-top: -171%;
        z-index: 90000;
        width: 93%;
        height: 100%;
        margin-left: 11px;
    }
    .subtask-text-input {
        width: calc(70% - 5px);        
        height: 40px;
        font-size: initial;
    }
    .paper-clip {
        height: 95px;
        width: 242px;
        margin-left: 26px;
        margin-top: 5px;
    }
    .close-thick{
        float: right;
        position: absolute;
        z-index: 1000000000;
        margin-left: 142px;
        margin-top: -10px;          
        &:after {
            content: '✖';
        }          
    }
}

@include mobile-tab-break {

    .main-task {
        width: 100%;
        height: unset;
    }
    .sub-task {
        // display: none;
        height: 450px;
        width: 100%;
    }
}

@include tablet-only {
    .sub-task-add-content {
        margin-top: 25px;
    }
    .app {
        height: 100%;
    }
    .main-content {
        width: 100%;
        height: 95%;
        border-top-right-radius: 0 !important;
        margin-top: 27px;
        border-bottom-left-radius: 4px !important;
    }    
    .paper-clip {
        height: 120px;
        width: 90%;
        margin-left: 5%;
        margin-top: 0px;
    }
    .slide-content {
        width: 70%;
        margin-left: 30%;
    }
    .subtask-text-input {
        width: 65%;        
        height: 44px;                
    }    
    .add-sub-task-btn {     
        padding: 4px;
        width: 45px; 
        padding-left: 14px;       
    }
}

@include mobile-medium {    
    .add-sub-task-btn {
        margin-left: 7px
    }
    .close-thick {     
        margin-left: 195px;
        margin-top: -10px;        
    }    
    .sub-task-add-content {     
        margin-top: -145%;
    }
    .sub-task-footer {
        .fa {
            font-size: 20px !important;
        }
    }
    .subtask-text-input {
        width: 70%;
    }
    .paper-clip {
        height: 100px;
        width: 296px;
        margin-left: 27px;
        margin-top: 0px;
    }
}

@include mobile-large {
    .add-task-btn {
        margin-left: 20px;
    }
    .add-sub-task-btn {
        padding: 10px;
        width: 45px;
        padding-left: 14px;
    }
    .close-thick {     
        margin-left: 238px;
        margin-top: -11px;
        font-size: inherit;
    }
    .main-content {
        border-top-right-radius: 0 !important;
        margin-top: 50px;
    }
    .main-task {
        width: 100%;
        height: unset;
    }
    .note-item-btn {
        margin-left: 20px;
    }
    .sub-task {
        // display: none;
        height: 450px;
        width: 100%;
    }
    .sub-task-add-content{
        position: absolute;
        margin-top: -128%;
        z-index: 90000;
        width: 93%;
        height: 100%;
        margin-left: 11px;
    }
    .slide-content {
        width: 70%;
        margin-left: 30%;
    }
    .subtask-text-input {
        width: calc(70% + 10px);
    }
    .sub-task-footer {
        .fa {
            font-size: 20px !important;
        }
    }
    .paper-clip {
        height: 90px;
    }    
}

@include desktop-only {
    .paper-clip {        
        margin-left: 11%;
        width: 84%;
        height: 191px;
        margin-top: 12px;
        border-radius: 4px;
    }
}

@include large-screens {
    .main-content {}
}

