.add-sub-input {
    margin-left: 25px; 
}
.panel {
    padding-right: 5px;
}   
.date-picker {    
    border-radius: 4px;
    // width: 90% !important;
    margin-left: 35px;    
}
.date-picker-popover{
    // display: block;
    // top: 34px;
    // width: 100% !important;
    // left: 50.5px;
}
.sub-task-add-content {
    .panel {
        height: 100%;
        background-color: #ffffff;
        // background-color:#ddd; 
        .panel-heading {
            background-color: #ffffff;
            border-color: #fff;         
            // background-color: #dddddd;
            // border-color: #ddd;
        }
    }
    .panel-body {
        padding: 0 !important;
    }
    .panel-footer {
        background-color: #ffffff !important;
        padding: 10px 15px;
        /* background-color: #f5f5f5; */
        border-top: 1px solid rgba(85, 85, 85, 0.5);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}
.form-horizontal {
    .input-group {
        width: 95%;
    }
}
.sub-task-li {
    span {
        margin-top: -25px;
    }
    .input-group-addon {
        opacity: 0;
    }
    padding: 20px 16px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    &:last-child {
        .form-control {
            width: 91%;
            margin-top: -25px;
            margin-left: 36px;
        }
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }
    select {
        margin-right: 20px;
        overflow-y: auto;
        text-align: center;
        width: 55px;
    }    
}
select {
    margin-right: 20px;
    overflow-y: auto;
    text-align: center;
    width: 55px;
}    
.sub-task-ul {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 55%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        font-family: monospace;
        font-size: larger;
        font-weight: 600;
        color: #6f5e5e;
        padding: 10px 16px;
        border-bottom: 2px dotted rgba(128, 128, 128, 0.38);
        &:hover {
            // background: linear-gradient(to bottom, rgba(4, 244, 255, 0.43) 11%, rgba(14, 255, 133, 0.5) 97%);
            color: white;
            opacity: .5;
            background: linear-gradient(to bottom, #0099ff 11%, rgba(62, 176, 238, 0.88) 97%);
            // background: linear-gradient(to bottom, red 11%, rgb(222, 44, 34) 97%);
        }
        transition: all .22s ease-in;
    }
}

.sub-task-bg {
    background: linear-gradient(to right, rgba(119, 238, 119, 0.43) , rgba(255, 255, 0, 0.48));    
    margin-top: 25px;
}
.sub-task-date {
    margin-top: -7%;
    margin-left: 11%;
    padding-top: 12px;
}

.sub-task-content {
    float: left;
    width: 100%;
}
.subtask-note {
    margin-left: 11%;
    width: 84%;
    margin-top: 12px;
    height: 60px;
    border-radius: 4px;
}
.subtask-text-input {
    @include border-radius-full(0, 4px, 4px, 0);    
    box-shadow: 0 4px 6px -3px #959595;
    width: 65%;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.42);
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 8px;
    position: absolute;
    margin-left: 2px;
}

.sub-task-list {
    height: 100% !important;
}
.sub-task-reminder {
    @extend .sub-task-date;
}

.sub-task-head-star {
    float: right;
    padding-top: 10px;
}
.subtask-options {
    position: absolute;    
    margin-left: 50%;
    // float: right;
    // padding-right: 10px;
}
.sub-note-title {
    width: 85%;
    padding-left: 10px;    
    color: rgba(0, 0, 0, 0.71);
}

.sub-task-add-content {
    @include box-shadow(0px, 2px, 3px, 1px, rgba(0, 0, 0, 0.75));
    background-color: #e1e1e1;
    width: 90%;
    margin-left: 18px;
    margin-top: 15px;
    height: 92%;
    @include border-radius(6px);
}

.sub-task-checkbox {
    float: left;
}

.sub-task-footer {
    padding: 0px 15px !important;
    float: left;
    width: 100%;
    float: left;
    height: 7%;
    color: gray;
    border-top: 1px solid rgba(128, 128, 128, 0.34);
    margin-top: -16px;
    .fa-trash {
        float: left;
        font-size: x-large !important;
        margin-left: 2%;
        margin-top: 2%;
    }
    .fa-play {
        float: right;
        font-size: x-large !important;
        margin-right: 2%;
        margin-top: 2%;
    }
}

.sub-task-head {
    float: left;
    width: 100%;
    border-bottom: 1px solid gray;
    opacity: .7;
    padding: 10px 15px;
}

@include laptop-only {
    .date-picker {
        border-radius: 4px !important;
        margin-left: 25px;
        width: 103% !important;
    }
    .form-horizontal{ 
        .input-group {
            width: 97%;
            margin-left: -7px;
        }
    }
    .sub-task-li:last-child {
        .form-control {
            width: 92%;
            margin-top: -25px;
            margin-left: 25px;
        }
    }   
    .sub-task-list {
        height: 35%;
        margin-left: 1px;
        width: 98%;
    }
}

@include mobile-only {
    .main-content {
        overflow: hidden !important;
    }    
    .date-picker {     
        border-radius: 4px !important;     
    }
    .sub-task-li:last-child {
        .form-control {
            width: 87%;
            margin-top: -25px;
            margin-left: 33px;
        }
    }
    .form-horizontal {
        .input-group {
            width: 91%;
            margin-left: 5px;
        }
    }
    .subtask-note {
        margin-left: 16%;
        width: 78%;
        margin-top: 14px;
        height: 49px;
        border-radius: 4px;
    }
}

@include mobile-tab-break {

}

@include tablet-only {
    .date-picker {
        border-radius: 4px !important;
        margin-left: 30px;
        width: 101% !important;
    }  
    .sub-task-li:last-child {
        .form-control {
            width: 90%;
            margin-top: -25px;
            margin-left: 30px;
        }
    } 
    .subtask-note {
        margin-left: 13%;
        width: 82%;
        margin-top: 12px;
        height: 60px;
        border-radius: 4px;
    }

}

@include mobile-medium {    
    .main-content {
        overflow: hidden !important;
    }    
    .date-picker {
        width: 100%;
        border-radius: 4px !important;
        margin-left: 30px;
    }
    .sub-task-li:last-child{
        .form-control {
            width: 88%;
            margin-top: -25px;
            margin-left: 30px;
        }
    } 
    .form-horizontal {
        .input-group {
            width: 93%;
        }
    } 
    .subtask-note {
        margin-left: 13%;
        width: 80.5%;
        margin-top: 12px;
        height: 50px;
        border-radius: 4px;
    }    
}

@include mobile-large {
    .main-content {
        overflow: hidden !important;
    }
    .form-horizontal {
        .input-group {
            margin-left: -2px;
        }
    }
    .subtask-note {
        margin-left: 12%;
        width: 83%;     
        height: 60px;
        border-radius: 4px;
    }
    .sub-item-btn {
        margin-left: 25px !important;
    }
}

@include desktop-only {
    .sub-task-li {        
        >:first-child {
            margin-top: 10px !important;
        }        
        .date-picker {
            border-radius: 4px !important;
            width: 99% !important;
        }
    }
    .sub-task-bg {
        background-color: #eeeeee !important;     
        margin-left: 9px !important;
        width: 97% !important;
    }
}

@include large-screens {    
}

